*{margin: 0; padding: 0; box-sizing: border-box;}
:root{
    --Bas-color:#B0006F;
    --button-hover:#880157;
    --f-background:#FFDAFA;
    --s-background:#FFB3E1;
    --u-background:#ff50b9;
    --Ubutton-hover:#dc62ab;
}
.form{
    background-color: var(--f-background);
    border-radius: 10px;
    
}
.btn-primary{
    background-color: var(--Bas-color);
    border: none;
    font-size: 18px;
}
.btn-primary:hover {
    background-color: var(--button-hover);
}
.btn-primary:active{
  background-color: black; 
}
.btn-secondary{
    background-color:var(--u-background);
    border: none;
}
.btn-secondary:hover{
    background-color: var(--Ubutton-hover);
}
.edit{
    border: solid var(--Bas-color) 1px ;
    color: var(--Bas-color);
}
.edit:hover{
    background-color: var(--Bas-color);
    color: white;
}
.task-name{
    text-wrap: nowrap;
}
.big-div{
     padding: 0;
    background-color: var(--s-background);
    border-radius: 10px;
}
.list{
    border: solid var(--Bas-color) 2px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}
.lists-container{
    padding-bottom: 20px;
}
.stat , .proj{
    font-size: 16px;
    color: black;
    text-wrap: nowrap;
}
.proj{
    margin-right:35px;
}
.task-name ,.task-desc{
    color: var(--Bas-color);
}
.btn-close{
    position: absolute;
    right:10px ;
}
.task-n{
    display: inline-block;
}